<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adminty - Premium Admin Template by Colorlib </title>



    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">

    <link rel="stylesheet" href="/bower_components/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/themify-icons/themify-icons.css">

    <link rel="stylesheet" type="text/css" href="/assets/icon/icofont/css/icofont.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/html" href="/assets/icon/feather/css/feather.css">
    <link rel="stylesheet" href="/css/admin.css">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/linearicons.css">
    <link rel="stylesheet" href="/assets/css/mCustomScrollbar.css">
</head>
<body>


<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="#!">
                        <i class="fas fa-toggle-off"></i>
                    </a>
                    <a href="index.html">
                        <!--<img  class="img-fluid" src="/img/logo.png" alt="Logo" />-->
                    </a>
                    <!--<a class="mobile-options">-->
                    <!--<i class="feather icon-more-horizontal"></i>-->
                    <!--</a>-->
                </div>
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="fas fa-times"></i></span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon search-btn"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()">
                                <i class="feather icon-maximize full-screen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="far fa-bell"></i>
                                    <span class="badge bg-c-pink">5</span>
                                </div>

                            </div>
                        </li>
                        <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                    <i class="far fa-comment-alt"></i>
                                    <span class="badge bg-c-green">3</span>
                                </div>
                            </div>
                        </li>
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <!--<img src="" class="img-radius" alt="User-Profile-Image">-->
                                    <span>John Doe</span>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="#!">
                                            <i class="feather icon-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="user-profile.html">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="email-inbox.html">
                                            <i class="feather icon-mail"></i> My Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="auth-lock-screen.html">
                                            <i class="feather icon-lock"></i> Lock Screen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="auth-normal-sign-in.html">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav class="pcoded-navbar">
                    <div class="pcoded-inner-navbar main-menu">



                        <div class="pcoded-navigatio-lavel">Tables</div>
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu pcoded-trigger">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="fas fa-table"></i></span>
                                    <span class="pcoded-mtext">Table</span>

                                </a>
                                <ul class="pcoded-submenu">


                                    <li >
                                        <a href="/admin/customer/list">
                                            <span><i class="fas fa-chevron-right"></i></span>
                                            <span class="pcoded-mtext">Customer Table</span>
                                        </a>
                                    </li>
                                    <!--<li class="active">-->
                                    <!--<a href="/admin/product/list">-->
                                    <!--<span><i class="fas fa-chevron-right"></i></span>-->
                                    <!--<span class="pcoded-mtext">Product Table</span>-->
                                    <!--</a>-->
                                    <!--</li>-->

                                </ul>
                            </li>



                            <li class="">
                                <a href="editable-table.html">
                                    <span class="pcoded-micon"><i class="fas fa-edit"></i></span>
                                    <span class="pcoded-mtext">Editable Table</span>
                                </a>
                            </li>
                        </ul>

                        <div class="pcoded-navigatio-lavel">Pages</div>
                        <ul class="pcoded-item pcoded-left-item">

                            <li class="pcoded-hasmenu ">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="fas fa-shopping-cart"></i></span>
                                    <span class="pcoded-mtext">E-Commerce</span>
                                    <!--<span class="pcoded-badge label label-danger">NEW</span>-->
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="">
                                        <a href="product.html">
                                            <span><i class="fas fa-chevron-right"></i></span>
                                            <span class="pcoded-mtext">Product</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/admin/product/list">
                                            <span><i class="fas fa-chevron-right"></i></span>
                                            <span class="pcoded-mtext">Product List</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="product-edit.html">
                                            <span><i class="fas fa-chevron-right"></i></span>
                                            <span class="pcoded-mtext">Product Edit</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="product-detail.html">
                                            <span><i class="fas fa-chevron-right"></i></span>
                                            <span class="pcoded-mtext">Product Detail</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="product-cart.html">
                                            <span><i class="fas fa-chevron-right"></i></span>
                                            <span class="pcoded-mtext">Product Card</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="product-payment.html">
                                            <span><i class="fas fa-chevron-right"></i></span>
                                            <span class="pcoded-mtext">Credit Card Form</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </nav>

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">

                        <div class="main-body">
                            <div class="page-wrapper">

                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
                                            <div class="page-header-title">
                                                <div class="d-inline">
                                                    <h4>Product List</h4>
                                                    <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="index.html"> <i class="feather icon-home"></i> </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">E-Commerce</a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">Product List</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="md-modal md-effect-13 addcontact" id="modal-13">
                                    <div class="md-content">
                                        <h3 class="f-26">Add Product</h3>
                                        <form action="/admin/product/save" method="post">
                                            <div>

                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                                    <input type="text" name="name" class="form-control pname" placeholder="Prodcut Name">
                                                </div>
                                                <div class="input-group">
                                                    <input type="text" name="thumbnail" class="form-control pthumbnail" placeholder="Product Image">
                                                    <span class="input-group-addon btn btn-primary">Chooese File</span>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                                    <input type="text" name="price" class="form-control pprice" placeholder="Price">
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                                    <input type="text" name="description" class="form-control pdescription" placeholder="Description">
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="icofont icofont-user"></i></span>
                                                    <input type="text" name="artist" class="form-control pid" placeholder="Artist">
                                                </div>
                                                <div class="input-group">
                                                    <select id="hello-single" name="status" class="form-control stock">
                                                        <option value="">---- Select Stock ----</option>
                                                        <option value="married">In Stock</option>
                                                        <option value="unmarried">Out of Stock</option>
                                                        <option value="unmarried">Law Stock</option>
                                                    </select>
                                                </div>
                                                <div class="text-center">
                                                    <button class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block save_btn">Save</button>
                                                    <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block close_btn">Close</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="page-body">
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Product List</h5>
                                                </div>
                                                <div class="card-block">
                                                    <div class="table-responsive">
                                                        <div class="table-content">
                                                            <div class="project-table">
                                                                <table id="e-product-list" class="table table-striped dt-responsive nowrap">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>productId</th>
                                                                        <th>name</th>
                                                                        <th>thumbnail</th>
                                                                        <th>price</th>
                                                                        <th>description</th>
                                                                        <th>artist</th>
                                                                        <th>createdAt</th>
                                                                        <th>deletedAt</th>
                                                                        <th>status</th>
                                                                        <th>action</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    
                                                                    <%
                                                                    for(var i = 0; i < listProduct.length; i++){
                                                                    %>
                                                                        <tr class="item-product">
                                                                            <td><%= listProduct[i]._id%></td>
                                                                            <td><%= listProduct[i].name%></td>
                                                                            <td><img width="50px"  src="<%= listProduct[i].thumbnail%>" alt=""></td>
                                                                            <td> <%= listProduct[i].price%></td>
                                                                            <td><span ><%= listProduct[i].description%></span> </td>
                                                                            <td><%= listProduct[i].artist%></td>
                                                                            <td><%= listProduct[i].createdAt%></td>
                                                                            <td><%= listProduct[i].deletedAt%></td>
                                                                            <td><%= listProduct[i].status%></td>
                                                                            <td class="action-icon">
                                                                                <a href="#!" class="m-r-15 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="icofont icofont-ui-edit"></i></a>
                                                                                <a href="#!" class="text-muted" id="btn-delete" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="icofont icofont-delete-alt"></i></a>
                                                                            </td>

                                                                        </tr>
                                                                    <%
                                                                    };
                                                                    %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="md-overlay"></div>

                                </div>

                            </div>
                        </div>

                        <!--<div id="styleSelector">-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript" src="/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/bower_components/popper/js/popper.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

<script type="text/javascript" src="/bower_components/modernizr/js/modernizr.js"></script>

<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="/assets/js/classie.js"></script>
<script src="/assets/js/modalEffects.js"></script>

<script type="text/javascript" src="/assets/pages/product-list/product-list.js"></script>
<!--<script type="text/javascript" src="/bower_components/i18next/js/i18next.min.js"></script>-->
<!--<script type="text/javascript" src="../files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>-->
<script type="text/javascript" src="/bower_components/i18next-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>

<script src="/assets/js/pcoded.min.js"></script>
<script src="/assets/js/vartical-layout.min.js"></script>
<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    // window.dataLayer = window.dataLayer || [];
    // function gtag(){dataLayer.push(arguments);}
    // gtag('js', new Date());
    //
    // gtag('config', 'UA-23581568-13');
</script>
</body>
</html>
